# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
venv/
env/
*.egg-info/

# IDEs
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

# Model files (optional, if you want to push .pkl remove this)
*.pkl

# Logs
*.log
